article
{
    float:right;
    width: 80%;
    margin-right: 0px;
}
aside
{
    width: 18%;
    margin-right: 2%;
    float: left;
}
.artikujt table th
{
    background-image: url("images/backg.jpg");
    color: white;
    padding: 10px;
    font-weight: bold;
    font-family: castellar;
}
.subnav
{
    background-image: url("images/backg.jpg");
}
.subnav #navtable th
{
    color: white;
    padding: 1.2em;
    width: 500px;
}
.subnav #navtable th a
{
    transition: font-size 0.5s;
}
.subnav #navtable th a:hover
{
    font-size: 1.05em;
}
.subnav #navtable th a
{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
/*.artikujt #laptops td, .artikujt #smartphones td, .artikujt #tablets td, .artikujt #desktops td
{
    border: 1px solid black;
    padding: 0px;
}*/
.opsionet
{
    font-size: 0.8em;
    text-indent: 1em;
    white-space: normal; /* Breaks into a new line, shkruaj me shume shkronja te nje pershkrim */
}